---
layout: layouts/base.njk
name: "SABARI VENKATESH G R"
title: "Sabari’s Résumé"
photo: "images/photo.jpeg"
designation: "Frontend Developer"
summary: I'm the best there is at what I do.
---

<header>
    <img src="{{photo}}" class="profile__photo" />
    {% include "layouts/about.njk" %}
</header>

<main>
    <section class="profile__name">
        <h1 class="h2 text--uppercase color--primary">Sabari Venkatesh</h1>
        <h2 class="h4">Lead UI Engineer</h2>
    </section>

    <section class="d-grid profile__contact" style="--columns: 2">
        {% include "layouts/contact.njk" %}
    </section>

    <section class="profile__experience">
        <h3 class="section__title">Skills</h3>
        {% include "layouts/contact.njk" %}
    </section>

    <section class="">
        {% include "layouts/contact.njk" %}
    </section>

    <section class="">
        {% include "layouts/contact.njk" %}
    </section>

    <section class="">
        {% include "layouts/contact.njk" %}
    </section>
</main>
{# 
{% include "layouts/counter.njk" %} #}


{# <div class="x-height">x</div> #}